
@import url(../css/fonts.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}
:root{
    /* theme colors */
    --white: white;
    --black: black;
    --hover: #1d3557;
    --text-color: #333;
    --red: #e63946;

    /* gradient color */
    --young: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);

    /* theme font */
    --Abel: Abel, cursive;
    --Anton: Anton, cursive;
    --Josefin: Josefin, cursive;
    --Lexend: Lexend, cursive;
    --Livvic: Livvic, cursive;
}

html,body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

/*------------------------Global classes-----------------------------*/


.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}
/*----------x-------------Global classes-------------x---------------*/

/* -----------------------Navbar----------------------------- */
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 1rem;
    justify-content: space-between;
    align-items:  center;
    z-index: 1000;
    transition: 0.5s;
}

.nav.sticky{
    background: #8d99ae;
    padding: 1rem 0.5rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}
.nav .nav-logo{
    padding: 1rem 1.6rem;
}

.nav .nav-logo a{
    letter-spacing: 0.2rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--Lexend);
    transition: 0.5s;
}


.nav.sticky .nav-logo a{
    color: var(--white);
}

.nav .nav-list{
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
}


.nav .nav-list .nav-link{
    padding: 0 2rem;
}

.nav .nav-list .nav-link a{
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
    font-family: var(--Anton);
    border-bottom: 1px solid transparent;
    transition: ease-in-out .2s;
}

.nav.nav.sticky .nav-list .nav-link a{
    color: var(--white);
}

.nav .nav-list .nav-link:hover a{
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.nav.sticky .nav-list .nav-link:hover a{
    border-bottom: 1px solid var(--white);
}

.nav .mode-btn{
    padding: 1rem;
}

.nav .nav-advanced{
    padding: 0;
    font-size: 1.1rem;
    font-family: var(--Anton);
}

.nav .nav-advanced .nav-inOut{
    display: flex;  
}

.nav-advanced .nav-inOut .nav-link a{
    margin: 0 0.4rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Anton);
    transition: ease-in .2s;
    letter-spacing: 0.1rem;
    border-bottom: 1px solid transparent;
    transition: ease-in-out .2s;
}

.nav-advanced .nav-inOut .nav-link:hover a{
    border-bottom: 1px solid black;
}
.nav.sticky .nav-link a{
    color: var(--white);
}

.nav.sticky .nav-link:hover a{
    border-bottom: 1px solid var(--white);
}
/* ------------x------------Navbar-----------------x----------- */


/* --------------------- Main site section-----------------*/

/* --------------home------------- */
.banner{
    position: relative;
    min-height: 100vh;
    display: flex;
    background: #edf2f4;
    background-size: cover; 
    background-position: center; 
}

.banner .content{   
    margin: auto;
    padding: 4rem;
    align-items: center;
}

.content h2{
    font-family: var(--Lexend);
    font-size: 6rem;
    color: #2b2d42;
}

.content h3{
    font-family: var(--Lexend);
    font-family: 5rem;
    color: var(--text-color);
}
.content p{
    font-family: var(--Josefin);
    font-size: 2rem;
    margin-top: 2rem;
}
.content .btn{
    display: flex;
    width: 100%;
    justify-content: center;
}

.content .btn span{
    width: 20%;
    background: #ef233c;
    padding: 1rem;
    margin: 2rem;
    border-radius: 2rem;
    transition: ease-in .5s ;
}

.content a.btn{     
    text-align: center;
    font-size: 1.6rem;
    color: var(--white);
    font-family: var(--Livvic);
    letter-spacing: 0.4rem;
}

.banner span{
    width: 30%;
    background: #d90429;
    padding: 1rem;
    margin: 2rem;
    border-radius: 2rem;
    transition: ease-in .5s ;
}
/* ----x---------home------x------ */

/* ----------main-page----------- */
.main-page{
    min-height: 100vh;
}

.main-section{
    align-items: center;
}

.main-section .heading{
    width: 100%;
    text-align: center;
    margin: 3rem 0;
}

.main-section .heading h2{
    font-size: 3rem;
    font-family: var(--Anton);
    letter-spacing: 0.2rem;
}

.main-section .top-side{
    width: 70%;
    height: 20rem;
    background: red;
    margin-bottom: 2rem;
}

.top-side .suggest{
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.top-side .suggest .item{
    display: relative;
    height: 20rem;
    width: 12rem;
    min-height: 18rem;
    background: var(--text-color);
}

.suggest .item img{
   
    width: 100%;
}

.main-section .bottom-side{
    width: 70%;
    height: 100rem;
    background: chocolate;
}

.bottom-side .clock{
    width:20%;
    right: 0;
    top: 0;
    min-height: 20rem;
    background: chartreuse;
}
/* -----x----main-page-----x----- */

/* ----------ranking------------ */
.ranking{
    min-height: 100vh;
    background: #edf2f4;
}
.ranking .search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem;
}

.ranking .search h2{
    font-size: 3rem;
    font-family: var(--Anton);
    letter-spacing: 0.2rem;
}

.ranking .search input{
    flex-basis: 50%;
    padding: 1rem;
    margin: 2rem;
    border-radius: 2rem;
    outline: none;
    border: 1px solid var(--text-color);
    font-size: 1.2rem;
}

.ranking .search [type="submit"]{
    height: 3rem;
    width: 3rem;
    font-size: 1.6rem;
    border-radius: 50%;
    border: 1px solid var(--text-color);
    outline: none;
    cursor: pointer;
    transform: translateX(-5.3rem);
}

.ranking .content-search{
    display: flex;
    margin: 0 10%;    
    width: 80%;
}
.ranking .content-search .content{
    flex: 1;
    height: 50rem;
    margin: 0 0.2rem;
    background: yellowgreen;
}

.ranking .content-search .top{
    flex: 1;
    height: 50rem;
    margin: 0 0.2rem;
    background: var(--red);
}

/* ---------interract--------- */


/* ----x----interract---x----- */
/* ------------x-------- Main site section--------x--------*/


/*-----Viewport less then or equal to 750px -----*/

@media only screen and (max-width:750px){
    .nav .nav-menu, .nav-list{
        flex-direction: column;
        min-height: 40vh;
    }
}
/*--x--Viewport less then or equal to 750px --x--*/