@import url(../css/fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

:root {
    /* theme colors */
    --white: white;
    --black: black;
    --hover: #1d3557;
    --text-color: #333;
    --red: #e63946;
    --view: violet;
    --comment: #ffc011;

    /* gradient color */
    --young: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);

    /* theme font */
    --Abel: Abel, cursive;
    --Anton: Anton, cursive;
    --Josefin: Josefin, cursive;
    --Lexend: Lexend, cursive;
    --Livvic: Livvic, cursive;

    /* check box size */
    --checkbox-size: 1.4rem;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    color: var(--white);
}

/*------------------------Global classes-----------------------------*/


.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

span,
i {
    color: var(--white);
}


/*----------x-------------Global classes-------------x---------------*/

/* -----------------------Navbar----------------------------- */
/*nav Pc*/
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 0;
    z-index: 1;
    transition: 0.5s;
}

.nav-container {
    justify-content: space-between;
    align-items: center;
}

.nav-container a {
    color: var(--text-color);
}

.nav.sticky {
    background: #8d99ae;
    padding: 2rem 0;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}


.nav-logo__link {
    letter-spacing: 0.2rem;
    font-size: 2.4rem;
    font-weight: 700;
    font-family: var(--Lexend);
    transition: 0.5s;
}

.nav-pc__item {
    margin: 0 1rem;
}

.nav-pc__link {
    font-family: var(--Lexend);
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    border: transparent;
    transition: .3s;
}

.nav-pc__item:hover .nav-pc__link {
    border-bottom: 1px solid var(--text-color);
}

/*MODE BUTTON*/
.nav-pc__button-icon {
    font-size: 2.4rem;
    cursor: pointer;
    color: var(--text-color);
    opacity: .5;
    transition: .5s;
}

.nav-pc__button-icon:hover {
    opacity: 1;
}

.nav.sticky .nav-pc__button-icon {
    color: #fff;
}

/* sticky class */

.nav.sticky .nav-logo__link {
    color: var(--white);
}

.nav.sticky .nav-pc__link {
    color: white;
}


.nav.sticky .nav-pc__item:hover .nav-pc__link {
    border-bottom: 1px solid var(--white);
}

/* --x--sticky class --x--*/


/*nav mobile*/
@keyframes fadeIn {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.nav-mobile__bar-btn i {
    width: 28px;
    height: 28px;
    color: var(--text-color);
    display: none;
    transition: 0.5s linear;
}

.nav-mobile__bar-btn i:hover {
    transform: rotate3d(0, 1, 0, 180deg);
}

.nav-mobile-tablet {
    text-align: -webkit-center;
}

.nav.sticky .nav-mobile__bar-btn i {
    color: var(--white);
    align-items: center;
}

.nav-mobile__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    animation: fadeIn linear 0.2s;
}

.nav-mobile__input:checked~.nav-mobile__overlay {
    display: block;
}

.nav-mobile__input:checked~.nav-mobile__mobile {
    transform: translateX(0%);
    opacity: 1;
}

.nav-mobile__mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 45%;
    max-width: 100%;
    background-color: var(--white);
    transform: translateX(100%);
    transition: transform linear 0.2s, opacity linear 0.3s;
    opacity: 0;
}

.nav-mobile__mobile-list {
    margin-top: 5rem;
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-mobile__mobile-link {
    text-decoration: none;
    text-align: center;
    color: #606773;
    display: block;
    padding: 3rem 0;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-mobile__mobile-link:hover {
    background-color: #c9c9c9;
}

.nav-mobile__mobile-link i {
    color: #666;
}

.nav-mobile__mobile-close i {
    position: absolute;
    color: #666;
    top: 2rem;
    right: 2rem;
    transform: rotate(0);
    transition: 0.4s linear;
}

.nav-mobile__mobile-close i:hover {
    transform: rotate(180deg);
}



/* ------------x------------Navbar-----------------x----------- */


/* --------------------- Main site section-----------------*/

/* --------------home------------- */
.banner {
    position: relative;
    min-height: 100vh;
    display: flex;
    background: #f5f6fa;
    background-size: cover;
    background-position: center;
}

.banner-container {
    width: 100%;
    display: flex;
    align-items: center;
}


.banner__content {
    align-items: center;
}

.banner__content {
    width: 100%;
    padding: 4rem;
}

.banner__content h2 {
    font-family: var(--Lexend);
    font-size: 6rem;
    color: #2b2d42;
}

.banner__content h3 {
    font-family: var(--Lexend);
    font-family: 5rem;
    color: var(--text-color);
}

.banner__content p {
    font-family: var(--Josefin);
    font-size: 2rem;
    margin-top: 2rem;
    color: var(--text-color);
}

.banner__btn-item {
    display: flex;
    justify-content: space-between;
}

.banner__btn-link-wrap {
    text-align: center;
}

.banner__btn-link {
    display: block;
    width: 20rem;
    background: #ef233c;
    padding: 1rem;
    margin: 2rem;
    border-radius: 2rem;
    transition: ease-in .5s;
    font-size: 1.6rem;
    color: var(--white);
    font-family: var(--Livvic);
    letter-spacing: 0.4rem;
    box-shadow: 0 0 1rem #777;
}

.banner__btn-link:hover {
    background-color: #ef233bd7;
}

.banner__btn-link--out {
    display: block;
    text-align: center;
    width: 30rem;
    background: #d90429;
    padding: 1rem;
    margin: 2rem;
    border-radius: 2rem;
    transition: ease-in .5s;
    font-size: 1.6rem;
    color: var(--white);
    font-family: var(--Livvic);
    letter-spacing: 0.4rem;
    box-shadow: 0 0 1rem #777;
}

/* ----x---------home------x------ */

/* ----------main-page----------- */
.suggest-bar__headline {
    width: 100%;
    text-align: center;
    padding: 2rem;
    font-size: 4rem;
    font-family: var(--Anton);
    letter-spacing: 0.5rem;
    color: var(--text-color);
}

.suggest-bar__carousel {
    padding: 2rem 0;
}

.suggest-bar__items {
    border-top: 2px solid black;
}

.suggest-bar__item {
    margin: 12px 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.suggest-bar__item:hover {
    transform: translateY(-2px);
}

.suggest-bar__item-background,
.latest__item-background {
    padding-top: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 3px;

}

.suggest-bar__item .suggest-bar__item-description {

    align-items: center;
    width: 100%;
    height: 30%;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
}

.suggest-bar__item .suggest-bar__item-description span {
    color: var(--white);
}

.suggest-bar__chap {
    color: var(--white);
    font-family: var(--Livvic);
}

.suggest-bar__subtitle {
    font-size: 1.2rem;
    color: var(--white);
}

.suggest-bar__item i {
    color: var(--white);
}

/* main layout */

.main-layout {
    padding: 8rem 0;
}

.latest__headline {
    display: block;
    width: 100%;
    border-top: 2px solid black;
}

.latest__headline h2 {
    margin: 2.4rem;
    color: var(--text-color);
    font-family: var(--Anton);
    font-size: 1.6rem;
    letter-spacing: .2rem;
}

.latest__item {
    background: var(--white);
    border-radius: 3px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    margin: 12px 0;
}

.latest__item-ranking {
    padding: .5rem;
    letter-spacing: 0.5rem;
    align-items: center;
    justify-content: center;
}

.latest__item .latest__item-description {
    width: 100%;
    height: 30%;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.8);
}

.latest__item .latest__item-description a {
    color: var(--white);
}

.latest__subtitle {
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    padding: 0.1rem;
}

.latest__chap-time {
    justify-content: space-between;
    font-size: 1rem;
}


/* pagination */
.pagination-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.pagination {
    display: flex;
    position: relative;
    padding: .5rem 2rem;
    margin: 1rem 0;
    background: var(--white);
    border-radius: 5rem;
    align-items: center;
    box-shadow: 0 0 1rem var(--text-color);
}

.pagination a {
    display: block;
    font-family: var(--Lexend);
    border-radius: 50%;
    color: #777;
    background: transparent;
    transition: .2s;
}


.pagination-item__link-prev {
    line-height: 5rem;
    font-weight: 700;
    font-size: 1.8rem;
    margin-right: 2rem;
}

.pagination-item__page-number {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    margin: 0 .5rem;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
}


.pagination-item__page-number:hover a {
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

.pagination-item__page-number.active a {
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

.pagination-item__link-next {
    line-height: 5rem;
    font-weight: 700;
    font-size: 1.8rem;
    margin-left: 2rem;
}

/* -x-pagination -x-*/


/* clock */
.clock__container {
    justify-content: center;
    align-items: center;
    background: #777;
    height: 40rem;
    border-radius: 3px;
}

#clock-analog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    border: 6px solid #fff;
    border-radius: 50%;
}

#clock-analog::before {
    display: absolute;
    content: ' ';
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    z-index: 4;
    background: var(--hover);
}

.clock-analog__hour-container,
.clock-analog__minute-container,
.clock-analog__second-container {
    position: absolute;
}


.clock-analog__hour-container,
.clock-analog__hour {
    width: 10rem;
    height: 10rem;
}

.clock-analog__minute-container,
.clock-analog__minute {
    width: 12rem;
    height: 12rem;
}

.clock-analog__second-container,
.clock-analog__second {
    width: 14rem;
    height: 14rem;
}

.clock-analog__hour,
.clock-analog__minute,
.clock-analog__second {
    display: flex;
    justify-content: center;
    position: absolute;
}

.clock-analog__hour::before {
    content: ' ';
    position: absolute;
    width: 0.6rem;
    height: 5rem;
    background: var(--white);
}

.clock-analog__minute::before {
    content: ' ';
    position: absolute;
    width: 0.4rem;
    height: 6rem;
    background: var(--white);
}

.clock-analog__second::before {
    content: ' ';
    position: absolute;
    width: 0.2rem;
    height: 7rem;
    background: var(--red);
}


#clock-digital {
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: var(--white);
    margin: 1rem 0;
}

/* -x- clock -x- */


/* feature */
.feature__container {
    background: var(--text-color);
    border-radius: 3px;
    overflow: hidden;
}

.feature__container>input[type="checkbox"] {
    margin: 2.4rem;
}

.feature__container>input[type="checkbox"]:checked~.feature-nofication {
    display: block;
}


.feature__container span {
    font-size: 1.4rem;
    font-family: var(--Josefin);
}

.feature-nofication {
    background: var(--red);
    padding: 2.4rem;
    display: none;
}

.feature-nofication>p {
    font-family: var(--Lexend);
    font-size: 1.2rem;
    color: var(--white);
    margin-bottom: 2.4rem;
    margin-left: calc(2.4rem + var(--checkbox-size));
}

.feature-nofication__discription {
    font-family: var(--Lexend);
    letter-spacing: .1rem;
    margin-left: calc(2.4rem + var(--checkbox-size));
}

.feature-nofication__discription .flex-row {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;
}

.feature-nofication__discription h2 {
    font-size: 1.4rem;
}

.feature-nofication__discription input[type="time"] {
    border-radius: 3px;
}

/* -x- feature -x- */

/* fillter-catagory */

.fillter-catagory__container {
    background: var(--text-color);
    border-radius: 3px;
    overflow: hidden;
}

.fillter-catagory__container>input[type="checkbox"] {
    margin: 2.4rem;
}

.fillter-catagory__container>input[type="checkbox"]:checked~.fillter-catagory {
    display: block;
}


.fillter-catagory__container span {
    font-size: 1.4rem;
    font-family: var(--Josefin);
}

.fillter-catagory {
    background: var(--red);
    padding: 2.4rem;
    display: none;
}

.fillter-catagory>p {
    font-family: var(--Lexend);
    font-size: 1.2rem;
    color: var(--white);
    margin-bottom: 2.4rem;
    margin-left: calc(2.4rem + var(--checkbox-size));
}

.fillter-catagory__list {
    justify-content: space-between;
    align-items: center;
    margin-left: calc(2.4rem + var(--checkbox-size));
}

.fillter-catagory__item {
    margin: .5rem 0;
}

.fillter-catagory__item:nth-child(odd) {
    flex-basis: 50%;
}

.fillter-catagory__link {
    font-size: 1.4rem;
    color: var(--white);
    opacity: 0.4;
    transition: .5s;
}

.fillter-catagory__link:hover {
    opacity: 1;
}

/* -x- fillter-catagory -x-*/

/* -x- main layout -x- */


/* -----x----main-page-----x----- */

/* ---------- search-block-------------- */
.nav-width-search .nav-logo-link {
    padding: 2rem 0;
    margin-left: -2rem;
}

.search-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: var(--text-color);
}

.search-block .search-bar__block {
    position: relative;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: visible;
}

.search-block .search-bar__block input[type="text"] {
    position: relative;
    width: 40rem;
    height: 4rem;
    padding: 1.2rem;
    border-radius: 4rem;
    outline: none;
    border: 1px solid var(--text-color);
    font-size: 1.6rem;
}

.search-block .search-bar__block [type="submit"] {
    position: absolute;
    top: .2rem;
    right: .2rem;
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1.6rem;
    border-radius: 50%;
    border: 1px solid var(--text-color);
    outline: none;
    cursor: pointer;
}



/* -----x---- search-block-------x------ */

/* ----------ranking------------ */
.ranking-layout {
    min-height: 100vh;
    padding-top: 9rem;
}

.ranking-items {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

/* follow icon */
.follow-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15rem;
    text-align: center;
    margin: 1rem 0;

}

.follow-icon span {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: var(--red);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}

.follow-icon__link {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;

}

.follow-icon span:hover .follow-icon__link {
    background: var(--white);
    box-shadow: 0 0 3rem var(--red);
}

.follow-icon__link i {
    font-size: 4rem;
    color: white;
    transition: .5s;
}

.follow-icon span:hover .follow-icon__link i {
    color: var(--red);
}

/* close follow icon */

/* view icon */

.view-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15rem;
    text-align: center;
    margin: 1rem 0;

}

.view-icon span {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: var(--view);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}

.view-icon__link {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;

}

.view-icon span:hover .view-icon__link {
    background: var(--white);
    box-shadow: 0 0 3rem var(--view);
}

.view-icon__link i {
    font-size: 4rem;
    color: white;
    transition: .5s;
}

.view-icon span:hover .view-icon__link i {
    color: var(--view);
}

/* close view icon */

/* comment icon */

.comment-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15rem;
    text-align: center;
    margin: 1rem 0;

}

.comment-icon span {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: var(--comment);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}

.comment-icon__link {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;

}

.comment-icon span:hover .comment-icon__link {
    background: var(--white);
    box-shadow: 0 0 3rem var(--comment);
}

.comment-icon__link i {
    font-size: 4rem;
    color: white;
    transition: .5s;
}

.comment-icon span:hover .comment-icon__link i {
    color: var(--comment);
}

/* close comment icon */
.box__item {
    position: relative;
    width: 30rem;
    height: 40rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}


.box__item:hover .box__item-description {
    transform: translateY(0);
}

.box__item-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box__item-description {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: .7s ease-in-out;
}

.box__subtitle {
    font-family: var(--Anton);
    color: var(--white);
    font-size: 2.4rem;
}

.box-number__content {
    font-family: var(--Josefin);
    font-size: 1.6rem;
    align-items: center;
}

.box__btn {
    margin: 3rem;
    padding: 1.5rem;
    border-radius: 3rem;
    font-size: 2rem;
    font-family: var(--Abel);
    color: var(--white);
}

.box__btn[name="follow__link"] {
    background: var(--red);
    transition: .5s;
}

.box__btn[name="follow__link"]:hover {
    background: lightsalmon;
    color: black;
}

.box__btn[name="view__link"] {
    background: var(--view);
    transition: .5s;
}

.box__btn[name="view__link"]:hover {
    background: lightpink;
    color: black;
}

.box__btn[name="comment__link"] {
    background: var(--comment);
    transition: .5s;
}

.box__btn[name="comment__link"]:hover {
    background: lightyellow;
    color: black;
}

/* ---------------- */
.
/* ---------interract--------- */


/* ----x----interract---x----- */
/* ------------x-------- Main site section--------x--------*/