body {
    background-color: #f5f6fa;
}

/* ---------- search-block-------------- */

.search-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: var(--text-color);
}

.search-bar__block {
    position: relative;
    width: 40rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar__block input[type="text"] {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1.2rem;
    border-radius: 4rem;
    border: none;
    outline: none;
    font-size: 1.6rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.search-bar__block button[type="submit"] {
    position: absolute;
    top: .27rem;
    right: .27rem;
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1.6rem;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    background: var(--text-color);
}

.search-bar__block input[type="text"]:focus~.search-bar__hitory {
    display: block;
}

.search-bar__block button[type="submit"] i {
    color: var(--white);
}

.search-bar__hitory {
    position: relative;
    width: 40rem;
    background: white;
    border-radius: .3rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    top: calc(100% + .5em);
    display: none;
}

.search-bar__hitory h2 {
    color: #999;
    margin: 1rem;
}


.search-bar__history-link {
    position: relative;
    width: 100%;
    height: 10rem;
    display: flex;
    border-top: 1px solid black;
    transition: .5s;
    background: var(--white);
}

.search-bar__history-link:hover {
    background: #dfe4ea;
}

.history-item__background {
    position: absolute;
    width: 10rem;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.history-item__discription {
    position: absolute;
    top: 0;
    left: 12rem;
    height: 100%;
    justify-content: space-around;
}

.history-item__headline {
    font-size: 1.4rem;
    letter-spacing: .1rem;
    font-family: var(--Anton);
}

.history-item__recent-chap {
    font-size: 1.4rem;
}

.history-item__catagory {
    font-family: var(--Josefin);
    font-size: 1.2rem;
    color: black;
}

/* -----x---- search-block-------x------ */

/* --------- main-page------------- */

.main-page {
    margin-top: 14rem;
}

search-option__period,
search-option__sorting,
search-option__catagory {
    padding: 2rem 0;
    border-top: 1px solid black;
}

.search-option__period-list,
.search-option__sorting-list {
    width: 100%;
    height: 20rem;
    justify-content: space-between;
}

.search-option__period-item,
.search-option__sorting-item {
    position: relative;
    width: 20rem;
    height: 3rem
}

.search-option__period-link,
.search-option__sorting-link {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 3rem;
    background: #70a1ff;
    text-align: center;
    font-size: 1.4rem;
    font-family: var(--Lexend);
    border-radius: 3px;
    color: var(--white);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.search-option__period-link {
    background: #ff6b6b;
    transition: .2s;
}

.search-option__period-link:hover,
.search-option__period-link.active {
    background: #ee5253;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.search-option__sorting-link {
    background: #70a1ff;
    transition: .2s;
}

.search-option__sorting-link:hover,
.search-option__sorting-link.active {
    background: #2e86de;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

#search-catagory {
    width: 100%;
    height: 4rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);

}

#search-catagory optgroup {
    background: var(--text-color);
    color: white;
}

#search-catagory option {
    background: #777;
}

/* -----x---- main-page-------x------ */