/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .nav-mobile__bar-btn i {
        display: block;
    }

    .ranking-items {
        justify-content: space-around;
        margin-bottom: 4rem;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .nav-pc__mode-btn {
        margin-left: 30rem;
    }

    .banner__content .active-with-mobile {
        display: block;
        font-size: 20rem;
        color: #2c3e50;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .nav-container {
        justify-content: space-around;
    }

    .banner__content .active-with-mobile {
        margin-top: 10rem;
        display: block;
        font-size: 10rem;
        color: #2c3e50;
    }

    .banner__btn-item {
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .banner__btn-link--out {
        width: 20rem;
    }



}